nav {
  width: 250px;
  height: 100vh;
  position: sticky;
  border-right: 2px solid var(--text);
}

a,
a:visited {
  color: var(--text);
}

.avatar {
  width: 250px;
  border-bottom: 2px solid var(--text);
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-column a {
  width: 200px;
  margin: auto;
  border: 1px solid var(--text);
  font-size: 2rem;
  text-align: center;
  text-shadow: var(--glow) 0px 0px 50px;
}
