<nav>
  <img class="avatar" src="/assets/img/avatar.jpg" alt="" />
  <div class="flex-column">
    <a routerLink="/home" routerLinkActive="nav-active">Home</a>
    <a routerLink="/about" routerLinkActive="nav-active">About</a>
    <a routerLink="/blog" routerLinkActive="nav-active">Blog</a>
    <a routerLink="/contact" routerLinkActive="nav-active">Contact</a>
  </div>
  <div class="copyright">
    <p>&copy; 2023</p>
    <a href="https://naomi.lgbt" target="_blank" rel="noopener noreferrer"
      >Built with love by Naomi Carrigan</a
    >
  </div>
</nav>
