main {
  height: 100vh;
  width: calc(100% - 250px);
  text-align: center;
  position: absolute;
  left: 250px;
  top: 0;
}

@media screen and (max-width: 750px) {
  main {
    left: 0;
    top: 50px;
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  main {
    top: 100px;
  }
}
